@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.raleway-f {
  font-family: "Raleway", serif;
}
.quicksand-quicksand {
  font-family: "Quicksand", serif;
}
/* global styles */
* {
  margin: 0;
  padding: 0;
}
button:hover {
  background: linear-gradient(to right, #4facfe, #00f2fe);
}
.display-flex {
  display: flex;
}
.btn-primary {
  border-radius: 16px;
  background: rgb(254, 163, 1);
  color: rgb(255, 255, 255);
  font-size: 2vw;
  font-weight: 600;
  padding: 14px 2.5vw;
  border: none;
}
/* color org */
.color-org {
  color: rgb(254, 163, 1);
}
/* color blues */
.color-blues {
  color: rgb(1, 172, 253);
}
/* no name color */
.no-color {
  color: rgb(5, 212, 223);
}
/* Ultramarine Blue */
.ul-blue {
  color: rgb(93, 88, 239);
}
/* header section */
.header {
  margin: 0 auto;
  width: 80%;
}
.nav-bar {
  /* width: 80%; */
  align-items: center;
  justify-content: space-between;
  margin: 1.5vw 0;
}
.menu-btn {
  display: none;
  border: none;
}
.nav-header {
  align-items: center;
  gap: 1vw;
}
.nav-title {
  color: rgb(17, 17, 17);
  font-size: 2rem;
  font-weight: 700;
}
.nav-functions {
  /* font-size: 1.2rem; */
  font-size: 1vw;
  font-weight: 500;
  gap: 2rem;
  align-items: center;
}
.nav-functions li a {
  text-decoration: none;
}
.nav-functions li {
  list-style: none;
}
hr {
  display: none;
  box-sizing: border-box;
  border: 0.5px solid rgb(254, 163, 1);
}
/* Banner section */
.banner {
  /* gap: 2.7vw; */
  justify-content: space-between;
  align-items: center;
}
.banner-description {
  width: 55%;
}
.banner-description button {
  background-color: rgb(17, 17, 17);
}
.banner-img {
  width: 40%;
}
.banner-img img {
  width: 100%;
}
.banner-title {
  font-size: 3vw;
  font-weight: 700;
}
.banner-des {
  color: rgb(17, 17, 17);
  font-size: 1vw;
  font-weight: 400;
  line-height: 2.2vw;
  margin: 1.4vw 0;
}
/* Curriculum secction */
.curriculum {
  background-image: url("../assets/bg.png");
  width: 100%;
  align-items: center;
  margin: 70px 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.curriculum-title {
  font-size: 55px;
  font-weight: 700;
  text-align: center;
}
.curriculum-containers {
  gap: 33px;
  margin: 20px 0;
  justify-content: center;
  /* width: 1520px; */
  width: 80%;
  margin: 6rem auto;
}
.curriculum-container {
  width: 477px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 48px 65px;
}
.cc-title {
  font-size: 1.7rem;
  font-weight: 700;
  margin-top: 38px;
}
.cc-description {
  color: rgb(128, 128, 128);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.7rem;
  margin: 2.4rem 0;
}
.cc-btn {
  font-size: 1.2rem;
  font-weight: 700;
  background: none;
  border: none;
}
.change-cc {
  justify-content: center;
  gap: 10px;
}
.ccc-btn {
  border: none;
  background-color: rgb(254, 163, 1);
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  font-weight: 900;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  text-align: center;
}
.cc-box-one {
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 22px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.cc-box-two {
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.cc-box-three {
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
/* Stories Section */
.our-story {
  background: url(../assets/bg.png),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
  padding-bottom: 30px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.our-story-title {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
.story-containers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 0.49fr);
  gap: 1vw;
  width: 80%;
  margin: 5vh auto;
}
.date1 {
  margin-top: -28px;
  margin-left: 20%;
}
.date {
  font-size: 1rem;
  border-radius: 47.93px;
  background: rgb(93, 88, 240);
  padding: 11px 30px;
  border: none;
  color: white;
}
.date-m {
  font-size: 1.5rem;
  border-radius: 47.93px;
  padding: 15px 38px;
  border: none;
  color: white;
}
.story-containers img {
  width: 100%;
}
.story-container-o {
  grid-row: span 2;
  grid-column: span 2;
  overflow: hidden;
  border-radius: 19px;
  background: rgb(255, 255, 255);
}
.story-container {
  border-radius: 19px;
  background: rgb(255, 255, 255);
  overflow: hidden;
}
.story-title {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 28.76px;
  margin: 29px 10%;
}
.story-title-m {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 700;
  margin: 35px 10%;
}
.story-des {
  color: rgb(102, 102, 102);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 28.76px;
  margin: 4rem 10%;
}
.color-1 {
  background: rgb(149, 178, 38);
}
.color-2 {
  background: rgb(60, 216, 232);
}
.view-btn {
  border-radius: 15px;
  background: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  padding: 1rem 4rem;
  text-align: center;
  display: block;
  margin: 1rem auto 0;
}
/* Footer section */
.marq {
  background-color: #add8e6;
  color: black;
  position: relative;
  top: 25%;
  height: 40px;
}
.m-title {
  font-size: 2rem;
  font-weight: 700;
}
footer {
  height: 550px;
  justify-content: center;
  align-items: center;
  background: rgb(1, 172, 253);
  flex-direction: column;
}
.footer-containers {
  width: 80%;
  margin: 0 auto;
  gap: 150px;
}
.container-a {
  width: 40%;
}
.container-about {
  width: 25%;
}
.social-f {
  width: 25%;
}
.c-header {
  align-items: center;
  margin-bottom: 35px;
}
.c-title {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 700;
}
.c-description {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 25px;
}
.about-title {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.about-school li {
  list-style: none;
  margin-top: 1.5rem;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 500;
}
.social-f-title {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.social-media {
  gap: 20px;
}
/* Media query */
@media screen and (max-width: 576px) {
  body {
    width: 90%;
    margin: auto;
  }
  .header {
    margin: none;
    width: 100%;
  }
  .btn-primary {
    background: rgb(254, 163, 1);
    font-size: 15px;
    padding: 10px 30px;
  }
  /* header */
  .menu-btn {
    display: block;
    background: none;
  }
  .banner {
    flex-direction: column-reverse;
    gap: 15px;
  }
  .banner-img {
    width: 100%;
  }
  .banner-description {
    width: 100%;
    text-align: center;
  }
  .banner-title {
    font-size: 40px;
  }
  .banner-des {
    font-size: 18px;
    line-height: 18px;
  }
  hr {
    display: block;
  }
  /* curriculum */
  .curriculum {
    margin-bottom: 40px;
  }
  .curriculum-containers {
    flex-direction: column;
    width: 100%;
    margin: 20px 0 30px;
  }
  .curriculum-container {
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;
  }
  /* Our story */
  .our-story {
    padding-bottom: 20px;
  }
  .story-container-o {
    display: none;
  }
  .story-containers {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 10px 0;
    gap: 14px;
    width: 97.5%;
    padding: 0 5px;
  }
  .date {
    font-size: 1rem;
    padding: 5px 10px;
  }
  .date1 {
    margin: -20px 10px;
  }
  /* Footer */
  footer {
    height: auto;
    padding: 50px 0;
  }
  .footer-containers {
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }
  .container-a {
    width: 100%;
  }
  .container-about {
    width: 100%;
  }
  .social-f {
    width: 100%;
  }
  .c-title {
    font-size: 2rem;
  }
  .about-school li {
    margin-top: 8px;
  }
  .social-f-title {
    margin-bottom: 1rem;
  }
  .marq {
    top: 60px;
    height: 40px;
  }
  .hide {
    display: none;
  }
}
